{% extends 'layout.html' %}
{% block content %}
	<h1>Calculator</h1>
    <form method="post">
        <input type="text" name="value1" placeholder="Enter the Radius" required="required" />

        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="Area">Area</option>
            <option value="Perimeter">Perimeter</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

   <br>

   {{ printed_result }}

{% endblock %}