@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Papyrus&display=swap');


/* Global Styles */
body {
    font-family: 'Comic Neue', cursive, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2d7ccb;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('tie_dye.jpg'); 
    background-size: cover
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 4em;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #343a40; /* Dark neutral color for header */
    color: #fff; /* Light text color for header */
    padding: 10px 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

h1 a {
    color: #ffc8dd;
}

h1 a:hover {
    color: #ffafcc;
    text-decoration: underline; /* re-adds underline on hover */
}




.menu li a:hover {
    color: #bde0fe; /* Light pastel color on hover */
}

/* Calculator Styles */
h1 {
    text-align: center;
    margin-top: 0;
    font-size: 36px;
    color: #ffffff; /* Dark neutral color for heading */
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
select,
button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #FF69B4; 
    color: #FFFFFF; 
    font-family: 'Comic Neue', cursive;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFB6C1; 
}
