{% extends 'layout.html' %}
{% block content %}
	<h1>Circle Calculator</h1>
    <form method="POST">
        <label>
            <input type="text" name="radius" placeholder="Enter the radius of the circle" required="required" >
        </label>
        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="perimeter">Perimeter</option>
            <option value="area">Area</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

   <br>

   {{ printed_result }}

{% endblock %}