{% extends 'layout.html' %}
{% block content %}
    <h1>Circle Calculator</h1>
    <form method="post">
        <input type="text" name="value1" placeholder="Enter the Radius of Circle" required="required" />
        <button type="submit" name="operation" value="area">Calculate Area</button>
        <button type="submit" name="operation" value="perimeter">Calculate Perimeter</button>
    </form>

   <br>

{% if resultArea is not none %}
    <p>Area: {{ resultArea }}</p>
{% endif %}
{% if resultPerimeter is not none %}
    <p>Perimeter: {{ resultPerimeter }}</p>
{% endif %}



{% endblock %}
