{% extends 'layout.html' %}
{% block content %}
	<h1>Circle Calculator</h1>
    <form method="post">
        <input type="text" name="radius" placeholder="Enter the radius in cm" required="required" />

        <label for="">Operation</label>
        <select id="operation" name="operation">
            <option value="perimeter">perimeter</option>
            <option value="area">area</option>
        </select>    

        <button type="submit">Calculate</button>
    </form>

   <br>

   {{ printed_result }}

{% endblock %}